body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffbea;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    text-align: center;
    background-color: #ffc107;
    padding: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-bottom: 5px solid #ffab00;
}

h2, h3 {
    padding-left: 20px;
}

.search-bar-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffebcd;
    padding: 10px 10px;
    border-bottom: 2px solid #ffdaa4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Espacement entre l'input et le bouton */
}

#searchButton {
    background-color: #FFC107; /* Jaune primaire pour le fond du bouton */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #FFD54F; /* Une nuance de jaune plus claire pour le survol */
}

#searchButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 193, 7, 0.5); /* Ombre en nuance de jaune pour le focus */
}

#searchInput {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    outline: none;
    transition: box-shadow 0.3s;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchInput:focus {
    box-shadow: 0px 4px 15px rgba(255,193,7,0.3);
}

#savedIngredients {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #ffebcd;
    border-radius: 10px;
    margin: 20px;
}

#savedIngredients li {
    padding: 10px 20px;
    border: 2px solid #ffc107;
    border-radius: 20px;
    background-color: white;
    color: #ffc107;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

#savedIngredients li:hover {
    background-color: #ffc107;
    color: white;
}

#savedIngredients li span {
    background-color: #ffc107;
    border-radius: 50%;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    transition: background-color 0.3s;
    font-size: 10px;
}

#savedIngredients li span:hover {
    background-color: #ffab00;
}

.highlighted-ingredient {
    background-color: #1E90FF; /* Bleu électrique */
    color: #FFFFFF; /* Texte blanc pour le contraste */
    padding: 2px 5px; /* Un peu d'espacement autour du texte */
    border-radius: 3px; /* Coins arrondis pour un look moderne */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Une légère ombre pour donner de la profondeur */
    font-weight: bold; /* Texte en gras pour plus d'impact */
    transition: background-color 0.3s ease; /* Transition douce lors des changements de couleur */
}

/* Pour un effet interactif, changeons la couleur de fond lors du survol */
.highlighted:hover {
    background-color: #3DA5FF; /* Une teinte légèrement plus claire de bleu lors du survol */
}


table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ffd27f;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fff7d1;
}

.table-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 90%;
    border: 5px solid #FFC107;
    position: relative;
    background-color: white;
}

.table-container::before,
.table-container::after {
    content: '';
    display: block;
    position: absolute;
    width: 15%;
    height: 5px;
    background: linear-gradient(to left, #FFC107, transparent);
    top: 10px;
}

.table-container::after {
    background: linear-gradient(to right, #FFC107, transparent);
    top: auto;
    bottom: 10px;
    right: 0;
}

#sheetTable {
    width: 100%;
}



.ingredients-list {
    flex: 1;   /* Prend tout l'espace disponible, permettant à la liste des ingrédients de s'étendre autant que possible */
    margin-right: 20px;  /* Ajoute une marge entre la liste des ingrédients et les détails de la source */
    margin-bottom: 8px;
    columns: 2; /* Divise la liste en 2 colonnes */
    column-gap: 20px; /* Espacement entre les colonnes */
    max-height: 400px; /* Hauteur maximale avant de diviser en colonnes */
}

.source-details {
    flex-basis: 200px; /* Ceci donne une largeur fixe à la section des détails de la source. Vous pouvez ajuster cette valeur selon vos besoins. */
}

.download-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


/* Bouton de déconnexion */
#logoutButton {
    background-color: #FF4D4D; /* Couleur de fond rouge pour indiquer une action de déconnexion */
    border: none;
    color: white; /* Texte blanc */
    padding: 10px 20px; /* Espacement interne pour le bouton */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    border-radius: 12px; /* Coins arrondis */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet 3D */
    transition: transform 0.2s, background-color 0.2s; /* Animation douce lors de l'interaction */
}

/* Effet lorsque le bouton est survolé */
#logoutButton:hover {
    background-color: #FF2D2D; /* Une teinte légèrement plus foncée lors du survol */
    transform: scale(1.05); /* Légère augmentation de la taille pour un effet interactif */
}

/* Effet lorsque le bouton est pressé */
#logoutButton:active {
    background-color: #FF0000; /* Une teinte encore plus foncée lorsqu'il est pressé */
    transform: scale(1); /* Retour à la taille normale */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Réduction de l'ombre pour un effet d'enfoncement */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffbea;
    margin: 0;
    padding: 0;
}

.recipe-modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 101;
}

.recipe-modal-content {
    background-color: #ffebcd;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #ffdaa4;
    width: 50%;
    border-radius: 5px;
}

.recipe-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFC107;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.recipe-close-btn:hover,
.recipe-close-btn:focus {
    color: white;
    background-color: #ffab00;
}

.recipe-title {
    background-color: #4CAF50;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}


form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFC107;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #ffab00;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: darkred;
}

.modal-delete {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background-color: rgba(0,0,0,0.4);
}

.modal-delete-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cancelDelete {
    background-color: #FF4D4D;
    color: white;
    /* ... autres propriétés ... */
}

#cancelDelete:hover {
    background-color: #e43f3f;  /* Une teinte légèrement plus sombre pour l'effet de survol */
}

#confirmDelete {
    background-color: #4CAF50;
    color: white;
    /* ... autres propriétés ... */
}

#confirmDelete:hover {
    background-color: #45a049;  /* Une teinte légèrement plus sombre pour l'effet de survol */
}

/* Styles spécifiques pour les appareils Android */
.android-device {
    font-size: 18px; /* Augmentation de la taille de police de base */

    h1 {
        font-size: 28px;
        padding: 15px 10px;
    }

    h2, h3 {
        font-size: 24px;
        padding: 10px;
    }

    .search-bar-container {
        flex-direction: column;
        gap: 10px;
    }

    #searchInput {
        width: 100%;
        margin: 0;
        padding: 10px; /* Augmentation du padding pour un meilleur toucher */
        font-size: 20px; /* Augmentation de la taille de police */
    }

    #searchButton {
        padding: 10px 20px; /* Augmentation du padding pour un meilleur toucher */
        font-size: 20px; /* Augmentation de la taille de police */
    }

    #savedIngredients {
        margin: 15px;
        font-size: 20px; /* Augmentation de la taille de police */
    }

    .table-container {
        max-width: 100%;
        padding: 15px;
    }

    .ingredients-list {
        columns: 1;
        font-size: 20px; /* Augmentation de la taille de police */
    }

    .recipe-modal-content {
        width: 0%;
    }

    form input[type="text"] {
        margin-bottom: 15px;
        padding: 10px; /* Augmentation du padding pour un meilleur toucher */
        font-size: 20px; /* Augmentation de la taille de police */
    }
}

.highlighted-ingredient {
    background-color: yellow;
    padding: 2px 4px;
    border-radius: 3px;
}

